body{
    background: rgb(4, 24, 33);
}

h1{
    font-family:  Yeseva One;
    color: rgb(255, 255, 255);
    font-size: 300%;
    line-height: 10%;
}

h2{
    font-family: Yeseva On;
    color: rgb(255, 255, 255);
    display: inline-block;
}

h3{
    font-family: Montserrat;
    color: rgb(124, 124, 124);
    font-size: 100%;
    text-align: left;
}

.latin{
    text-align: center;
}

.un{
    font-family: Yeseva On;
    color: rgb(23, 217, 158);
}

h4{
    text-align: center;
    font-family: Montserrat;
    color: rgb(122, 122, 122);
}

h5{
    text-align: center;
    font-family: Montserrat;
    color: rgb(122, 122, 122);
}

i{
    color: rgb(255, 255, 255);
}

.point{
    font-family: Yeseva On;
    color: rgb(23, 217, 158);
}

.page{
    margin-left: 10%;
}