body{
    background: rgb(4, 24, 33);
}

h1{
    font-family:  Yeseva One;
    color: rgb(255, 255, 255);
    font-size: 300%;
    line-height: 10%;
}

h2{
    font-family: Yeseva On;
    color: rgb(255, 255, 255);
    display: inline-block;
}

h3{
    font-family: Montserrat;
    color: rgb(80, 80, 80);
    font-size: 100%;
    text-align: left;
}

.latin{
    margin-left: 10%;
}

.un{
    font-family: Yeseva On;
    color: rgb(23, 217, 158);
}

h4{
    text-align: center;
    font-family: Montserrat;
    color: rgb(80, 80, 80);
}

h5{
    text-align: center;
    font-family: Montserrat;
    color: rgb(80, 80, 80);
}

i{
    color: rgb(255, 255, 255);
}

.point{
    font-family: Yeseva On;
    color: rgb(23, 217, 158);
}

.page{
    margin-left: 10%;
}

.grid img:nth-child(n + 10) {  
    display: none; 
}

.bandeau2{
position: fixed;
right: 10px;
top: 30px;
text-align:right;
}

.bouttons{
    font-family: Montserrat;
    color: rgb(255, 255, 255);
    text-align: center;
    word-spacing: 30px;
}


a{
    color: rgb(255, 255, 255);
    outline: medium none;
    text-decoration: none;
}

.boutton{

}

.boutton:hover{
    background-color: aquamarine;
    color: rgb(80, 80, 80);
}

.boutton2{
    background-color: aquamarine;
    color: rgb(80, 80, 80);
}

.boutton2:hover{

}